# Django settings
*.pyc
__pycache__/
db.sqlite3
.env  
.venv/  
env/
venv/
.pytest_cache/
*.log
.coverage
.tox/
.nox/
.hypothesis/
.mypy_cache/
.coverage
.idea/

# React build output
node_modules/
build/
.npm/
.cache/
.yarn/
.vscode/

# General system files
.DS_Store 

